@model Open_School_Library.Models.Dewey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dewey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeweyDecimalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeweyDecimalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeweyCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeweyCategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
