@model Open_School_Library.Models.BookDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Subtitle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtitle)
        </dd>

        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            ISBN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isbn)
        </dd>

        <dt>
            Dewey
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dewey_name)
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            Availability
        </dt>

        <dd>
            @if(Model.availability != null)
            {
                <text> Checked Out </text>
            }
            else
            {
                <text> Available </text>
}
        </dd>

        <dt>
            Student Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentFirstName) @Html.DisplayFor(model => model.studentLastName)
        </dd>

        <dt>
            Checked Out
        </dt>

        <dd>
           
            @Html.DisplayFor(model => model.checkedOutWhen)
        </dd>

        <dt>
            Due Back
        </dt>
            
        <dd>
            @Html.DisplayFor(model => model.dueWhen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
