@model IEnumerable<Open_School_Library.Models.Books>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedOutWhen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueBackWhen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnedWhen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dewey1.DeweyCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genres.Genre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckedOutWhen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueBackWhen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnedWhen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dewey1.DeweyCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genres.Genre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
